@import url('satoshi.css'); /*Importando a fonte*/


/*
.conteudo {
    display: flex;
    flex: 1;
    width: 100%;        
}
*/

/*conteúdo principal*/

main{
    padding: 0 2em 2em;
}

.banner {
    width: 100%;
    max-width: 1080px;
    height: 180px;
    background-image: url('../imgs/michael-jackson/Michael Banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8; /* Transparência */
}

.perfil-ft {
    width: 150px;
    height: 150px;    
    overflow: hidden;
    border: 5px solid #fff;
    position: absolute;
    bottom: -75px; 
    left: 4rem;
    background-color: rgba(255, 255, 255, 0.5); /* Fundo branco com transparência */
}

.perfil-ft img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil{
    height: 300px;
}

.discografia{    
    width: 100%;
    align-items: center;
    justify-content: center;  
}

#albums{
    width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

.album{    
    width: 170px;
    text-align: center;    
    /*background-color: blue;*/
}

.album img{
    width: 170px;
    height: 170px;
}

a img figcaption{
    font-size: small;
    text-decoration: none;    
}

/*Barra lateral com lista de musicas*/
aside ol{
    padding: 1em 1em;    
}

aside .lista-de-musicas li a:hover{
    border: 1px solid gray;
    opacity: 0.7;
}

.musicas{
    padding: 1em;
    height: auto;
}

.audio-player{
    margin-top: 6em;
}
/*
.lista-de-musicas ol li{
    margin-right: 1em;
}
*/
