@import url('satoshi.css'); /*Importando o css da fonte*/



/*conteúdo principal*/
main{
    width: 80%;
    padding: 0 2em 2em;
    position: relative;
    height: 880px;
    align-items: center;
    /*background-color: aqua;*/
    /*flex: 2; */
}

/*Barra lateral*/
aside{
    width: 20%;    
    height: 100%;
    padding: 6em 1em;
    background-color:#333;
    position: fixed;
    bottom: 0;
    right: 0;
    /*z-index: -1;*/
}

#tabela-artistas{
    /*background-color: aquamarine;*/
    width: 100%;
    margin-top: 3em;
}

#tabela-artistas td{
    /*background-color: violet;*/
    text-align: center;      
}

.artista-card {
    /*vertical-align: middle;*/
    /*background-color: brown;*/
    padding: 15px;
}

.artista-card a:hover{
    opacity: 0.5;
}

.artista-card a{    
    text-decoration: none;
    color: white;
}

.artista-card img{
    vertical-align: middle;    
}

figcaption{
    font-family: 'Satoshi-Light';
    font-size: smaller;
}