@import url('satoshi.css'); /*Importando a fonte*/

/*conteúdo principal*/
main{
    /*width: 80%;*/
    padding: 5em 2em 2em; 
}

a:hover{
    opacity: 0.7;
}

.txt{
    margin-left: 3em;
    text-align: left;
}

aside section{
    margin-top: 2em;
}

aside section article{
    margin-top: 2em;
}

/*container dos cards e imagens principais*/
.tabela-generos{    
    display: flex;   
    flex-direction: column; 
    justify-content: center;    
    align-items: center;    
    margin-top: 2em;  
    padding: 15px;  
}

.generos{
    display: flex;
    flex-direction: row;
}

/*alterando as imagens dos cards*/
.card{
    width: 180px;
    height: 180px;
    padding: 15px;
    align-items: center;
    opacity: 1.0;    
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.20);
}

.card img:hover{
    opacity: 0.5;
}
