@import url('satoshi.css'); /*Importando a fonte*/

/*conteúdo principal*/
main{
    /*width: 80%;*/
    padding: 5em 2em 2em;
    height: 880px;      
}


/*container dos cards e imagens principais*/
.container{    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    margin-top: 2em;    
}

.generos{
    display: flex;
    flex-direction: row;
}

/*alterando as imagens dos cards*/
.card{    
    width: 150px; 
    height: 150px;
    margin-left: 2em;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.20);
    opacity: 1.0;    
}

.card img{
    border-radius: 5px;
}

.card:hover{
    opacity: 0.5;
}
