@import url('satoshi.css'); /*Importando a fonte*/

/*conteúdo principal*/
main{
    padding: 0 2em 2em;
}

/*Banner do artista + informações */
.banner {
    width: 100%;
    max-width: 1080px;
    height: 180px;
    background-image: url('../imgs/michael-jackson/Michael Banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

.perfil-name {
    font-size: 40px;
    position: relative;
    text-align: center; 
    color: white; 
}

.perfil-ft {
    width: 150px;
    height: 150px;    
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -75px; 
    left: 4rem;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5); /* Fundo branco com transparência */
}

.perfil-ft img{
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}

.perfil{
    height: 380px;    
}

/*seção de discografia*/
.discografia{    
    width: 100%;
    align-items: center;
    justify-content: center;
}

#albums{
    width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    opacity: 0.7;
}

.album{    
    width: 170px;
    height: 170px;
    text-align: center;
    padding: 20px;    
    /*background-color: blue;*/
}

.album img{
    width: 170px;
    height: 170px;
}

a img figcaption{
    font-size: small;
    text-decoration: none;    
}

/*Barra lateral com lista de musicas*/
aside ol{
    padding: 1em 1em; 
}

aside .lista-de-musicas li a:hover{
    border: 1px solid gray;
    opacity: 0.7;
}

.musicas{
    padding: 1em;
    height: auto;
}

#audioPlayer{
    margin-top: 6em;
}

/* seção de videos mais populares*/
#relacionados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.videos-populares{     
    width: 60%;
}



.carrossel-container{
    max-width: 560px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.carrossel{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%;
}

.video{
    min-width: 100%;
    position: relative;
}

.prev, .next{ 
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10; 
}

.prev{
    left: 0;
}

.next{
    right: 0;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.midias-sociais {
    width: 40%;
    height: 380px;
    text-align: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.midias-sociais img{
    width: 100px;
    height: 100px;
}

h2{
    margin-bottom: 1em;
    text-align: center;
}