@import url('satoshi.css'); /*Importando a fonte*/

html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Satoshi-Variable';
    color: white;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    background-color: #0e0e0e;
}

header, footer{
    height: 80px;
    background-color: #333;
    color: #fff; 
    
}

header{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
    padding: 0.2em 1em;    
    display: flex;       
    flex-direction: row;    
    align-items: center;
}
/*
.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 1em;
}
*/
/*header div{
    background-color: aqua;
    margin-top: 1em;
    margin-left: 10em;
}*/

nav{
    display: flex;    
    /*background-color: aquamarine;*/
    width: 80%;
    float: right;
    align-items: center;
    margin-left: 5em;    
}

.pesquisar{
    margin-left: 6em;
}

#barraDePesquisa{
    padding: 0.5em;
    font-size: 1em;
    width: 400px;
    /*border: deepskyblue; usado para teste*/
    background-color: #1c1d1c;
}

input::placeholder {
    color:white;
    font-family: 'Satoshi-Regular';
  }

/*conteúdo principal*/
main{
    width: 80%;
    position: relative;
    padding: 6em 2em 2em;
    height: 880px;
    align-items: center;
}

/*rodapé*/
footer{
    width: 100%;
    padding: 1em 0;    
    text-align: center;      
}

/*Barra lateral*/
aside{
    width: 20%;
    height: 100%;
    background-color:#333;
    position: fixed;
    top:0;
    right: 0;
    padding: 6em 1em;
    z-index: -1;
}

/*container dos cards e imagens principais*/
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;        
    margin-top: 2em;
    margin-left: 1em;
}

/*alterando as imagens dos cards*/
.card{    
    width: 150px; 
    height: 150px;
    margin-left: 2em;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.20);
    opacity: 0.5;    
}

.card img{
    border-radius: 5px;
}

.card:hover{
    opacity: 1.0;
}

/*campo dos botões*/
.opt{
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-right: 5em;
    position: absolute;
    right: 0;
}

button{
    text-decoration: none;
    border: 1px solid white;    
    border-radius: 50%;
    cursor: pointer;     
    background:white;
    /*margin-left: 1em;*/
}

i{
    cursor: pointer; 
    display: inline-block;
    font-size: normal !important;       
}

i:hover{
    background-color: rgba(220, 220, 220, 0.4);
    border-radius: 50%;
}
/*
#theme-icon{
   
}*/